@model RE.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.Label("Login Name:")
        @Html.DisplayFor(model => model.LoginName)
        <div style="margin-top:10px"></div>
        @Html.LabelFor(model => model.Disable):
        @Model.Disable
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
