<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RS - Provider Search</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @if (HttpContext.Current.Request.Cookies["RE"]?.HasKeys == null)
        {
            @Html.ActionLink("Login", "Index", "Login", null, new { @class = "navbar-brand" })
}
            </div>
            @if (HttpContext.Current.Request.Cookies["RE"]?.HasKeys != null)
    {
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Genders<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Add", "Create", "ListOfGenders", null, null)</li>
                        <li>@Html.ActionLink("List", "Index", "ListOfGenders", null, null)</li>
                    </ul>
                </li>
            </ul>



            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Insurance<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Add", "Create", "ListOfInsuranceCompanies", null, null)</li>
                        <li>@Html.ActionLink("List", "Index", "ListOfInsuranceCompanies", null, null)</li>
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Nationality<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Add", "Create", "ListOfNationalities", null, null)</li>
                        <li>@Html.ActionLink("List", "Index", "ListOfNationalities", null, null)</li>
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Providers<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Add", "Create", "Providers", null, null)</li>
                        <li>@Html.ActionLink("List", "Index", "Providers", null, null)</li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Add", "Create", "ListOfServices", null, null)</li>
                        <li>@Html.ActionLink("List", "Index", "ListOfServices", null, null)</li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Types<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Add", "Create", "ListOfTypes", null, null)</li>
                        <li>@Html.ActionLink("List", "Index", "ListOfTypes", null, null)</li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">User<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Add", "Create", "Users", null, null)</li>
                        <li>@Html.ActionLink("List", "Index", "Users", null, null)</li>
                    </ul>
                </li>
            </ul>

        </div>
}
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - </p>
        </footer>
    </div>

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
</body>
</html>