@model IEnumerable<RE.ListOfType>
@using System.Globalization;

@{
    ViewBag.Title = "Create Types";
}

<h2>Create Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hide)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Label(CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.Type).Trim())
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Hide)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
