@model List<RE.Models.ProviderCreateModel>
@using System.Globalization;

@{
    ViewBag.Title = "Index";
    string address = "";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div style="padding-top:50px"></div>


<div id="advancedsearcharea" class="container-fluid">

    <div id="advancedform">

        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-1">@Html.Label("Name: ")</div>
                <div class="col-lg-1">@Html.TextBox("Name")</div>

            </div>
            <div style="padding-top:10px"></div>
            <div class="row">
                <div class="col-sm-1">@Html.Label("City: ")</div>
                <div class="col-lg-2">@Html.TextBox("City")</div>
                <div class="col-md-1">@Html.Label("State: ")</div>
                <div class="col-lg-2">@Html.DropDownList("StateID", null, htmlAttributes: new { @class = "form-control" })</div>
                <div class="col-md-1">@Html.Label("Zip: ")</div>
                <div class="col-lg-1">@Html.TextBox("Zip")</div>
            </div>
            <hr />
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Insurance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">Types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel4" role="tab">Payment Discount</a>
                </li>
            </ul>

            <div class="tab-content card">
                <div class="tab-pane fade" id="panel1" role="tabpanel">
                    <br>
                    <p>
                        @foreach (var item in ViewBag.ListOfServices)
                        {
                            <label for="Services[@item.ID][0]">
                                <input style="margin-left:5px" type="checkbox" name="Services[0].SelectedService"
                                       id="Services[@item.ID][0]" value="@item.ID" />
                                @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.Name)
                            </label>
                        }
                    </p>
                </div>

                <div class="tab-pane fade" id="panel2" role="tabpanel">
                    <br>
                    <p>
                        @foreach (var item in ViewBag.ListOfInsuranceCompanys)
                        {
                            <label for="Insurances[@item.ID][0]">
                                <input style="margin-left:5px" type="checkbox" name="Insurances[0].SelectedInsurance"
                                       id="Insurances[@item.ID][0]" value="@item.ID" />
                                @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.Name)
                            </label>
                        }
                    </p>

                </div>

                <div class="tab-pane fade" id="panel3" role="tabpanel">
                    <br>
                    <p>
                        @foreach (var item in ViewBag.ListOfTypes)
                        {
                            <label for="Types[@item.ID][0]">
                                <input style="margin-left:5px" type="checkbox" name="Types[0].SelectedType"
                                       id="Types[@item.ID][0]" value="@item.ID" />
                                @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.Type)
                            </label>
                        }
                    </p>
                </div>

                <div class="tab-pane fade" id="panel4" role="tabpanel">
                    <br>
                    <p>
                        <label for="SlidingScale">@Html.CheckBox("SlidingScale") Sliding Scale</label>
                        <label for="DiscountCashPay">@Html.CheckBox("DiscountCashPay") Discount Cash Pay</label>
                    </p>
                </div>

            </div>

            <div style="padding-top:40px"></div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        }
    </div>

</div>

<div style="padding-top:40px"></div>

@if (TempData["SearchProvider"] == null)
{ return; }

@foreach (var provider in (List<Provider>)TempData["SearchProvider"])
{
    {
        address = $"{provider.Street},{(provider.State != null ? provider.State.Name : "Unknowen")},{provider.Zip}";
    }

    <table style="margin-top:10px" align="center">
        <tr>
            <td>
                <img src="~/Content/Images/Providers/FB_IMG_1448153373161.jpg" style="width:75px;height:75px;" /><br />
                <span><b>Updated:</b></span> @(provider.ModifiedDate.HasValue ? provider.ModifiedDate?.ToShortDateString() : provider.CreatedDate.ToShortDateString() )
            </td>
            <td width="100px">
                <div style="margin-bottom:-21px">@provider.Name</div>
                @if (@provider.Website != null)
                {<br /><div style="margin-bottom:-21px;border-top:1px solid">
                        <a href='@provider.Website' target="_blank">Website</a>
                    </div>}
                @if (@provider.Email != null)
                {<br /><div style="margin-bottom:-21px;border-top:1px solid"><a href="mailto:@provider.Email">@provider.Email</a></div>}
            </td>

            <td width="150px">
                <a href="https://www.google.com/maps/place/@address" target="_blank">@address</a>
            </td>

            <td width="250px">
                <span><b>Types:</b></span>
                @(@provider.Types.Select(m => m.ListOfType.Type).Count() > 0 ? String.Join(", ", @provider.Types.Select(m => m.ListOfType.Type)) : "Unknowen")
                <br />
                <span><b>Insurances:</b></span>
                @(@provider.Insurances.Select(m => m.ListOfInsuranceCompany.Name).Count() > 0 ? String.Join(", ", @provider.Insurances.Select(m => m.ListOfInsuranceCompany.Name)) : "Unknowen")
                <br />
                <span><b>Services:</b></span>
                @(@provider.Services.Select(m => m.ListOfService.Name).Count() > 0 ? String.Join(", ", @provider.Services.Select(m => m.ListOfService.Name)) : "Unknowen")
            </td>

        </tr>
    </table>
}

<style>
    TD {
        text-align: center;
    }

    /*table:nth-of-type(odd) {
        background-color: #ff0000;
    }*/

    table:nth-of-type(even) {
        background-color: #cfc4c4;
    }

    label {
        padding-right: 15px;
    }
</style>

<script>

    $("#advancedsearclink").click(function () {
        $("#advancedform").toggle();

        if ($('#advancedform').css('display') == 'none') {
            $('#advancedsearclink').text("Advanced Search");
        }
        else {
            $('#advancedsearclink').text("Hide Advanced Search");
        }

    });

</script>
