@model List<RE.Provider>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div style="padding-top:50px"></div>

@foreach (var provider in Model)
{

<table style="margin-top:10px">
       <tr>
        <td><img src="~/Content/Images/Providers/FB_IMG_1448153373161.jpg" style="width:75px;height:75px;" /></td>
        <td width="100px">@provider.Name</td>

        <td width="150px">@provider.Street <br/> @provider.State.Name @provider.Zip</td>
        
        <td width="250px">
            @Html.Label(" Types:", new { @class = "Header" }) @String.Join(", ", @provider.Types.Select(m => m.ListOfType.Type))
            <br />
            @Html.Label("Insurances:", new { @class = "Header" }) @String.Join(", ", @provider.Insurances.Select(m => m.ListOfInsuranceCompany.Name))
            <br />
            @Html.Label("Services:", new { @class = "Header" }) @String.Join(",", @provider.Services.Select(m => m.ListOfService.Services))
        </td>
        
    </tr>
</table>
}


<style>
    TD {
        text-align:center;
    }

    /*table:nth-of-type(odd) {
        background-color: #ff0000;
    }*/

    table:nth-of-type(even) {
        background-color: #808080;
    }
</style>

<script>

    $("#advancedsearclink").click(function () {
        $("#advancedform").toggle();

        if ($('#advancedform').css('display') == 'none') {
            $('#advancedsearclink').text("Advanced Search");
        }
        else {
            $('#advancedsearclink').text("Hide Advanced Search");
        }

    });

</script>
